@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
}
p {
  line-height: 2rem;
}

header {
  background: #23424a;
  color: #fff;
  padding: 7em 0em;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__text {
  width: 55%;
}

.header__text > h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0em 0em 0.75em;
}

.header__text > p {
  color: #ffffffd9;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0em 0em 4em;
}

.btn {
  display: inline-block;
  background: #38cfd9;
  text-decoration: none;
  color: #23424a;
  font-size: 1.31rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover {
  opacity: 0.85;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px solid #fff;
  outline-offset: 2px;
}

.flex-container {
  display: flex;
  gap: 2rem;
}

main {
  padding: 4em 0em;
}

.main__flex-item {
  text-align: center;
  color: #3a3a3a;
}

.main__flex-item-heading {
  color: #87629a;
  font-size: 2.25rem;
  font-weight: 900;
}

.secondary {
  padding: 4em 0em;
  color: #fff;
  background: #136c72;
}

.secondary__flex-item {
  text-align: center;
}

.secondary__flex-item-heading {
  font-size: 2.25rem;
  font-weight: 900;
}
