@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

/* 
This '.flow > * + *' business is to handle collapsing margins on text elements. 
This accompanies and 'undoes' some of the 'margin: 0' from 
the above selector.
.flow > * + * {
  margin-top: 2em;
} */

p {
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

img {
  max-width: 100%;
}

.font-white {
  color: #fff;
}

.font-gold {
  color: #a59678;
}

.font-grey {
  color: #e0e0e0;
}

.font-dark {
  color: #3b4050;
}

/* Font-sizes:
    1. 18px = 1.125rem
    2. 21px = 1.3125rem
    3. 24px = 1.5rem
    4. 30px = 1.875rem
    5. 36px = 2.25rem
    6. 90px = 5.625rem
*/

.fs1 {
  font-size: 1.125rem;
}
.fs2 {
  font-size: 1.3125rem;
}
.fs3 {
  font-size: 1.5rem;
}
.fs4 {
  font-size: 1.875rem;
}
.fs5 {
  font-size: 2.25rem;
}
.fs6 {
  font-size: 5.625rem;
}

.btn {
  all: unset;
  background: #a59678;
  border-radius: 100px;
  padding: 0.25em 1em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
  cursor: pointer;
}

.bg-dark {
  background: #3b4050;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 0em;
}

.flex {
  display: flex;
  flex-direction: column;
}

header {
  background: #2e323f;
  font-family: "Oswald", sans-serif;
}

nav {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.nav-link-item {
}

.nav-link-item-anchor {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.nav-link-item-anchor:hover,
.nav-link-item-anchor:focus,
.nav-link-item-anchor:focus-visible {
  opacity: 0.75;
}

.hero-container {
  gap: 1.5rem;
  align-items: flex-start;
}

.hero-title {
  font-size: clamp(2.25rem, 1.0227rem + 6.1364vw, 5.625rem);
}

.key-points {
  background: #f1f1f1;
}

.key-points-container {
  gap: 2em;
}

.key-points-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
